.wrap {
    width: 1165px;
    margin: 0 auto;
}

@import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';

.btn {
    display: block;
    background: #195CDF;
    border-radius: 5px;
    width: 296px;
    height: 53px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: #FFFFFF;
        background: #1245A9;
        filter: drop-shadow(0px 21px 30px rgba(81, 81, 81, 0.4));
    }

    &-disabled {
        cursor: initial;
        filter: grayscale(80%);

        &:hover {
            filter: grayscale(80%);

        }
    }
}

.to-header {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    background: #195cdf;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    transition: all 0.3s ease;

    svg {
        width: 100%;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}



@import './blocks/header';
@import './blocks/nav';
@import './blocks/hero';
@import './blocks/dealers';
@import './blocks/bid';
@import './blocks/reviews';
@import './blocks/reviews-page';
@import './blocks/footer';
@import './blocks/about';
@import './blocks/our-team';
@import './blocks/modal';
@import './blocks/certificates';
@import './blocks/contacts-page';
@import './blocks/projects';
@import './blocks/project';
@import './blocks/service';
@import './blocks/equipment';
@import './blocks/air';
@import './blocks/spare-parts';
@import './blocks/feedback';
@import './blocks/parts';
@import './blocks/range';
@import './blocks/catalog';
@import './blocks/card';
@import './blocks/shop-cart';
@import './blocks/order';
@import './blocks/filter';
@import './blocks/page-gen';
@import './blocks/centrifugal';
@import './blocks/denair';
@import './blocks/error';
@import './blocks/search';
@import './blocks/reg';
@import './blocks/history';

.title {
    font-family: Rubik;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.sub-title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.bread-crumbs {
    margin-top: 35px;
    display: flex;

    &__item {
        font-size: 18px;
    }

    a {
        color: #868686;
        text-decoration: none;

        &::after {
            content: '/';
            margin: 0 5px;
        }
    }
}

* {
    font-family: Raleway;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
}


@import './blocks/media';