.feedback {
    margin-top: 80px;
    background: #F6F7FC;
    border-radius: 5px;
    padding: 50px 360px;

    form {
        width: 460px;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 18px 40px;
    }

    &__title {
        font-family: Rubik;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    input:not(.btn),
    textarea {
        border: 1px solid #EFF4FF;
        border-radius: 5px;
        height: 42px;
        width: 100%;
        padding: 10px 15px;
        font-weight: 300;
        font-size: 16px;
        margin-top: 14px;
        transition: all 0.3s ease;
        &.form-error {
            border: 1px solid red;
            color: red;
        }
    }

    textarea {
        height: 98px;
    }

    &__checkbox {
        display: flex;
        margin-top: 14px;
        cursor: pointer;

        span {
            font-weight: 300;
            font-size: 14px;
            transition: all 0.3s ease;
            &.form-error {
                color: red;
            }
        }
    }

    &__check {
        border: 1px solid #EFF4FF;
        border-radius: 3px;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        img {
            opacity: 0;
            transition: all 0.3s ease;
            transform: translate(10%, -15%);
        }
        &.form-error {
            border: 1px solid red;
        }

        &.active {
            border: 1px solid #195CDF;

            img {
                opacity: 1;
            }
        }
    }

    .btn {
        width: 100%;
        outline: none;
        border: none;
        height: 42px;
        font-weight: 500;
        font-size: 16px;
        margin-top: 25px;
    }
}