.order {
    margin-top: 45px;

    .sub-title {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
        margin-top: 35px;
    }

    &__form {
        width: 100%;
        margin-top: 45px;
        margin-bottom: 130px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        input {
            width: 370px;
            height: 40px;
            border: 1px solid #CBD5E9;
            border-radius: 3px;
            padding: 10px 17px;
            transition: all 0.3s ease;

            &.form-error {
                border: 1px solid red;
                color: red;
            }
        }
    }

    &__rec {
        margin-top: 40px;
    }

    &__rec-null {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #515151;
        margin-bottom: 25px;

        img {
            margin-right: 5px;
        }
    }

    &__input {

        input {
            margin-bottom: 10px;
        }
    }

    .btn {
        margin: 0 auto;
        margin-top: 45px;
        transition: all 0.3s ease;

        &.form-error {
            background-color: red;
        }
    }

    &.lk {
        margin-top: 100px;
        position: relative;
    }

    .your-discont {
        position: absolute;
        background: #F6F7FC;
        border-radius: 5px;
        padding: 26px 60px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130.5%;

        /* identical to box height, or 21px */
        text-transform: uppercase;
        font-feature-settings: 'pnum'on, 'lnum'on;

        color: #195CDF;
        right: 0;
        transform: translate(0%, -50%);
    }

}