.projects {
    margin-top: 15px;

    .btn {
        margin: 0 auto;
        margin-top: 60px;
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        background: #F6F7FC;
        border-radius: 5px;
        margin-top: 15px;
        padding: 17px;
        padding-right: 190px;

        .btn {
            margin: 0;
            width: 190px;
            height: 40px;
            font-size: 16px;
            margin-top: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__date {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50px;
        width: 120px;
        align-items: center;
    }

    &__day {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        color: #195CDF;
        max-height: 100%;
        display: flex;
        align-items: center;
    }

    &__month,
    &__year {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #195CDF;
    }

    &__year {
        margin-top: -7px;
        letter-spacing: 2px;
    }

    &__customer {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin-top: 13px;
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }

    &__descr {
        font-size: 16px;
        line-height: 130%;
        font-weight: normal;

        span {
            font-weight: 600;
        }
    }

    &__preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 50px 16px 25px 16px;
    }
}

.sort-select {
    position: relative;

    #sort {

        width: 370px;
        height: 55px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.custom-select {
    width: 370px;
    height: 55px;
    display: flex;
    align-items: center;
    background: #F6F7FC;
    border-radius: 5px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 16px;
    position: relative;

    span {
        font-weight: normal;
        margin-left: 5px;
    }

    &::before {
        content: url('../img/icons/arrow-down.svg');
        width: 14.5px;
        height: 21.5px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }

    &.active {
        &::before {
            top: 55%;
            transform: translateY(-50%) rotate(180deg);

        }

    }
}