.service {
    margin-top: 15px;
    margin-bottom: 90px;

    .city {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #000000;
    }

    .about__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    .about__top img {
        height: max-content;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;

        span {
            font-weight: bold;
        }
    }

    .btn {
        margin: 0 auto;
        margin-top: 35px;
        width: 257px;
        height: 50px;
    }

    &__imgs {
        display: flex;
        justify-content: space-between;
        img {
            max-width: 58%;
            object-fit: cover;
        }
    }
}